@-webkit-keyframes logoAppear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes logoAppear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

#topLogo {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  font-weight: 900;
  color: white;
  cursor: pointer;
  text-decoration: none;
  -webkit-animation-name: logoAppear 2s;
  animation-name: logoAppear;
  animation-duration: 2s;
}
